@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
html body{
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

#navbar-navigation p{
  font-size: 1.33rem;

}